body{
    background-color: darkslateblue;
}
head{
    background-color:crimson;
    height: 100px;
}
.header{
    background-color:darkgreen;
    height: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
#hea{
    background-color:gray;
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.contenedortl{
    background-color:goldenrod;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    position: relative;
    float: left;
}
.logo{
    background-image: url("../imagenes/Siena\ Antiguo\ Soldado\ Vintage\ Portada\ de\ Libro.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 80px;
    margin-left: 550px;
    margin-top: 10px;
}
.titulop{
background-color:0;
color:maroon;
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 100%;
margin-left: 60px;
float: left;
}
.main{
    
    background-color: 0;
}
fieldset{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: darkolivegreen;
    border: 0;
}
.legend{
    color:azure;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 50px;
    text-decoration-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
[type="text"]{
    display: block;
    color:azure;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 60%;
    height: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid burlywood;
}
[type="number"]{
    display: block;
    color:azure;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 60%;
    height: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid burlywood;
    
}
[type="email"]{
    display: block;
    color:azure;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 60%;
    height: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid burlywood;
    color: #fff;
}
[type="submit"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 50px;
    border-radius: 10px;
    border: 0;
}
[type="date"]{
    display: block;
    width: 60%;
    height: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid burlywood; 
    color: azure;
    font-size: 20px; 
}
.event{
    background-color:goldenrod;
    float:right;
}
.event1{
    background-color:0;
}
.event2{
    background-color:0;
    margin-top: 0px;
    display: inline;
}
.event3{
    color: black;
    font-size: 20px;
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    margin-right: 60px;
    
}